{% extends "core/base.html" %}

{% block more_header %}
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">
{%  endblock %}

{% block content %}
    {% load staticfiles%}
<div class="col-12 col-md-9">
    <div class="owl-carousel owl-theme">
        {% for application in application_list %}
            <div class="item">
                <a href="{% url application.name %}"><img height="200" width="200" alt="{{ application.name }}" src="{{ application.image.url }}"></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block more_content %}
    {% load staticfiles%}
    <script src="{% static "owlcarousel/owl.carousel.min.js" %}"></script>

    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                loop:true,
                nav:true,
                autoWidth:true,
                autoHeight:true,
                margin:10,
                autoplay:true,
                autoplayTimeout:2000,
                autoplayHoverPause:true
            })
        });
    </script>
{% endblock %}