{% extends "core/base.html" %}

{% block more_header %}
    {% load staticfiles %}
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div class="container">

        <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-12 col-md-9">
                <div class="jumbotron">
                    {{ user }}'s profile
                </div>
                <div class="row">
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ user_form.non_field_errors }}
                        {{ profile_form.non_field_errors }}

                        {{ user_form.source.errors }}
                        {{ user_form.source }}

                        {{ profile_form.source.errors }}
                        {{ profile_form.source }}

                        {{ user_form.first_name.label_tag }}
                        {{ user_form.first_name.errors }}
                        {{ user_form.first_name }}

                        {{ user_form.last_name.label_tag }}
                        {{ user_form.last_name.errors }}
                        {{ user_form.last_name }}

                        {{ user_form.email.label_tag }}
                        {{ user_form.email.errors }}
                        {{ user_form.email }}

                        {{ profile_form.picture.label_tag }}
                        {{ profile_form.picture.errors }}
                        {{ profile_form.picture }}

                        {{ profile_form.application.label_tag }}
                        {{ profile_form.application.errors }}
                        {{ profile_form.application }}

{#                        <div class="row row-offcanvas row-offcanvas-right">#}
{#                            {{ profile_form.application.label_tag }}#}
{#                            {{ profile_form.application.errors }}#}
{#                            {% for application in application_list %}#}
{#                                {% for choice in profile_form.application.field.choices %}#}
{#                                    {% if choice.1 == application.name %}#}
{#                                        <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">#}
{#                                            {% for app_init in profile_form.application.initial %}#}
{#                                                {% if choice.1 in app_init.name %}#}
{#                                                    <label class="image-checkbox image-checkbox-checked">#}
{#                                                    <i class="fa fa-check"></i>#}
{#                                                {% else %}#}
{#                                                    <label class="image-checkbox image-checkbox-checked">#}
{#                                                    <i class="fa fa-check hidden"></i>#}
{#                                                {% endif %}#}
{#                                            {% endfor %}#}
{#                                            <img height="400" width="600" class="img-responsive" src="{{ application.image.url }}"/>#}
{#                                            <input type="checkbox" name="{{ choice.1 }}" value="{{ choice.0 }}"/>#}
{#                                            <i class="fa fa-check hidden"></i>#}
{#                                            </label>#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            {% endfor %}#}
{#                        </div><!--/row-->#}

                        <input type="submit" value="Update"/>
                    </form>
                </div><!--/row-->
            </div><!--/span-->
        </div><!--/row-->

    </div>


{#    <style>#}
{#        .nopad {#}
{#            padding-left: 0 !important;#}
{#            padding-right: 0 !important;#}
{#        }#}
{##}
{#        /*image gallery*/#}
{#        .image-checkbox {#}
{#            cursor: pointer;#}
{#            box-sizing: border-box;#}
{#            -moz-box-sizing: border-box;#}
{#            -webkit-box-sizing: border-box;#}
{#            border: 4px solid transparent;#}
{#            margin-bottom: 0;#}
{#            outline: 0;#}
{#        }#}
{##}
{#        .image-checkbox input[type="checkbox"] {#}
{#            display: none;#}
{#        }#}
{##}
{#        .image-checkbox-checked {#}
{#            border-color: #4783B0;#}
{#        }#}
{##}
{#        .image-checkbox .fa {#}
{#            position: absolute;#}
{#            color: #4A79A3;#}
{#            background-color: #fff;#}
{#            padding: 10px;#}
{#            top: 0;#}
{#            right: 0;#}
{#        }#}
{##}
{#        .image-checkbox-checked .fa {#}
{#            display: block !important;#}
{#        }#}
{#    </style>#}
{##}
{#    <script>#}
{#        // image gallery#}
{#        // init the state from the input#}
{#        $(".image-checkbox").each(function () {#}
{#            if ($(this).find('input[type="checkbox"]').first().attr("checked")) {#}
{#                $(this).addClass('image-checkbox-checked');#}
{#            }#}
{#            else {#}
{#                $(this).removeClass('image-checkbox-checked');#}
{#            }#}
{#        });#}
{##}
{#        // sync the state to the input#}
{#        $(".image-checkbox").on("click", function (e) {#}
{#            $(this).toggleClass('image-checkbox-checked');#}
{#            var $checkbox = $(this).find('input[type="checkbox"]');#}
{#            $checkbox.prop("checked", !$checkbox.prop("checked"))#}
{##}
{#            e.preventDefault();#}
{#        });#}
{#    </script>#}
{% endblock %}