{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <li>
                <a title="{{ brand.name }}" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                   class="btn btn-block btn-social btn-{{ provider }} socialaccount_provider {{ provider.id }} {{ brand.id }}"><span class="fa fa-{{ provider.id }}"></span> Sign up
                    with {{ brand.name }}</a>
            </li>
        {% endfor %}
    {% endif %}
    <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
       class="btn btn-block btn-social btn-{{ provider.id }} socialaccount_provider {{ provider.id }}"><span class="fa fa-{{ provider.id }}"></span> Sign up
        with {{ provider.name }}</a></br>
{% endfor %}
