body { padding-top: 70px; }

.text-bold {
    font-weight: 600 !important;
}

.no-underline {
  text-decoration: none !important;
}

.text-white {
  color: #fff !important;
}

.title{
    font-family:'barbershop', sans-serif !important;
    font-size: 40px !important;
}